[submodule "extern/Swoosh"]
	path = extern/Swoosh
	url = https://github.com/TheMaverickProgrammer/Swoosh.git
[submodule "extern/SFML"]
	path = extern/SFML
	url = https://github.com/SFML/SFML.git
[submodule "breathe"]
	path = breathe
	url = https://github.com/michaeljones/breathe.git