# output
/target
dist
*.zip
/android/assets

# editors
*.code-workspace
.vscode

# client files
client/cache/
client/mods
client/identity
client/save.dat
client/corrupted_save.dat
client/config.ini
crash.txt

# private files
_*
.cargo
release.keystore
